:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

.router-link-active {
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	min-width: 80svw;
	max-width: 1000px;
	min-height: 100svh;
}

h1,
h2,
h3,
h4 {
	font-family: Monrope, sans-serif;
	color: #222;
}

h1 {
	font-size: 52px;
	font-weight: 700;
	line-height: 1.269em;
}

h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.289em;
}

p {
	font-family: Neuton, sans-serif;
	font-size: 19px;
	line-height: 1.667em;
	color: #626262;
}

.text-large {
	font-size: 22px;
	line-height: 1.545em;
}

img {
	display: block;
	max-width: 100%;
}

.accent {
	-webkit-text-fill-color: inherit;
	background-image: url('./assets/highlighter.svg');
	background-position: 50% 90%;
	background-repeat: no-repeat;
	background-size: auto;
	background-clip: content-box;
}

.quote {
	text-align: center;
	color: #181b1f;
	font-family: 'Josefin Sans', Sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 1.11em;
	letter-spacing: -1.4px;
	padding-inline: 1rem;
}

.divider {
	width: 100%;
	border-top: 2px solid #0c0d0e7a;
	margin-top: 2rem;
}

@media (max-width: 600px) {
	.quote {
		font-size: 36px;
	}
}
